<section class="page-header">
    <div class="container">
      <h1 class="page-title">Mi Experiencia</h1>
      <div class="breadcrumb">
        <a routerLink="/">Home</a> <span>/</span> <span>Experiencia</span>
      </div>
    </div>
  </section>
  
  <section class="work-experience section">
    <div class="container">
      <h2 class="section-title">Experiencia Laboral</h2>
      
      <div class="experience-timeline">
        <div class="timeline-item animate">
          <div class="timeline-dot"></div>
          <div class="timeline-date">2025 - Presente</div>
          <div class="timeline-content">
            <h3>Desarrollador Fullstack Semi-Senior</h3>
            <h4>RP Sistemas</h4>
            <p>Mantenimiento y evolución de distintos desarrollos dentro de la empresa, asegurando su óptimo funcionamiento y mejora continua. Involucrado activamente en el desarrollo de nuevas funcionalidades, desde el análisis de requerimientos hasta su implementación, contribuyendo a la innovación y escalabilidad de los sistemas. 
              Entre mis principales tareas se incluyen: Mantenimiento y optimización de los sistemas existentes para mejorar su rendimiento y estabilidad. Desarrollo de nuevas funcionalidades, adaptadas a las necesidades del negocio/cliente. Análisis de requerimientos, trabajando en estrecha colaboración con el equipo para definir soluciones efectivas. Planificación de la arquitectura y desarrollo, asegurando una estructura sólida y escalable para cada proyecto.</p>
            <ul class="responsibilities">
              <li>Desarrollo de nuevas funcionalidades para aplicaciones empresariales complejas</li>
              <li>Implementación de pruebas unitarias y de integración</li>
              <li>Optimización de rendimiento y accesibilidad</li>
              <li>Despliegue y adaptación de aplicaciones para distintos entornos, incluyendo **Android e iOS**.</li>
            </ul>
            <div class="tech-stack">
              <span>Angular</span>
              <span>Php</span>
              <span>Microsoft Sql Server</span>
              <span>SCSS</span>
              <span>Github</span>
            </div>
          </div>
        </div>
        
        <div class="timeline-item animate">
          <div class="timeline-dot"></div>
          <div class="timeline-date">2024 - 2024</div>
          <div class="timeline-content">
            <h3>Desarrollador Frontend Semi-Senior</h3>
            <h4>Quo Soluciones SRL</h4>
            <p>Desarrollo y mantenimiento del portal web y billetera virtual "Telepagos", junto con otros productos, garantizando su correcto funcionamiento y evolución. Mi trabajo incluyó la gestión de incidencias, análisis funcional y documentación de casos de uso, impulsando mejoras en la experiencia del usuario y el rendimiento del sistema.
              También participé en la implementación de nuevas funcionalidades, abarcando desde la definición de requerimientos hasta su desarrollo, con un enfoque en la escalabilidad y optimización. Además, brindé soporte y orientación a los desarrolladores frontend, promoviendo buenas prácticas y asegurando una arquitectura eficiente.</p>
            <ul class="responsibilities">
              <li>Desarrollo de componentes reutilizables</li>
              <li>Integración con APIs RESTful</li>
              <li>Implementación de diseños responsivos</li>
              <li>Mejora de aplicaciones existentes</li>
            </ul>
            <div class="tech-stack">
              <span>Angular</span>
              <span>Typescript</span>
              <span>Redux</span>
              <span>RxJS</span>
              <span>Bitbucket</span>
            </div>
          </div>
        </div>
        
        <div class="timeline-item animate">
          <div class="timeline-dot"></div>
          <div class="timeline-date">2022 - 2024</div>
          <div class="timeline-content">
            <h3>Desarrollador Fullstack Junior</h3>
            <h4>Hospital de Clinicas Jose de San Martin (UBA)</h4>
            <p> Partícipe en la migración del sistema legacy desarrollado en Visual Basic hacia un portal web moderno. Durante este proceso, colaboré en el análisis, diseño e implementación de la nueva plataforma, asegurando una transición eficiente y mejorando la usabilidad, escalabilidad y mantenimiento del sistema.</p>
            <ul class="responsibilities">
              <li>Implementación de interfaces intuitivas y adaptativas</li>
              <li>Optimización de la experiencia de usuario en plataformas web</li>
              <li>Desarrollo y mantenimiento de módulos interactivos</li>
              <li>Colaboración en el diseño y estructuración del frontend</li>
            </ul>
            <div class="tech-stack">
              <span>Angular</span>
              <span>NodeJs</span>
              <span>JavaScript</span>
              <span>MongoDB</span>
              <span>Gitlab</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="projects-section section gray-bg">
    <div class="container">
      <h2 class="section-title">Algunos Proyectos en los que he trabajado</h2>
      
      <div class="projects-grid">
        <div class="project-card animate">
          <div class="project-image">
            <img src="assets/images/hospiClinicas.png" alt="Proyecto 1">
            <div class="project-overlay">
              <div class="project-links">
                <a href="https://portal.hospitaldeclinicas.uba.ar/#/login" target="_blank" title="Ver Proyecto"><i class="fas fa-external-link-alt"></i></a>
                <a href="#" target="_blank" title="Ver Código"><i class="fab fa-github"></i></a>
              </div>
            </div>
          </div>
          <div class="project-details">
            <h3>Portal Web Hospital</h3>
            <p>Portal web full-stack para gestionar el Hospital, con características como gestion de turnos, seguimiento de estudios y caja.</p>
            <div class="project-tech">
              <span>Angular</span>
              <span>Node.js</span>
              <span>MongoDB</span>
            </div>
          </div>
        </div>
        
        <div class="project-card animate">
          <div class="project-image">
            <img src="assets/images/billeteraVirtual.png" alt="Proyecto 2">
            <div class="project-overlay">
              <div class="project-links">
                <a href="https://www.telepagos.com.ar/" target="_blank" title="Ver Proyecto"><i class="fas fa-external-link-alt"></i></a>
                <a href="#" target="_blank" title="Ver Código"><i class="fab fa-github"></i></a>
              </div>
            </div>
          </div>
          <div class="project-details">
            <h3>Billetera virtual</h3>
            <p>Billetera virtual con sistema de transferencia, qr interoperables y sistema de prestamos.</p>
            <div class="project-tech">
              <span>Angular</span>
              <span>Angular-Material</span>
              <span>Ionic</span>
            </div>
          </div>
        </div>
        
        <div class="project-card animate">
          <div class="project-image">
            <img src="assets/images/Asol.png" alt="Proyecto 3">
            <div class="project-overlay">
              <div class="project-links">
                <a href="https://drive.google.com/file/d/1c6hzMDo_rHp8HJjmDZvt-y86CXEG1oXM/view" target="_blank" target="_blank" title="Ver Proyecto"><i class="fas fa-external-link-alt"></i></a>
                <a href="https://github.com/dasinb0/monorepo-Angular" target="_blank" title="Ver Código"><i class="fab fa-github"></i></a>
              </div>
            </div>
          </div>
          <div class="project-details">
            <h3>Wallet descentralizada</h3>
            <p>App descentralizada multi billetera.</p>
            <div class="project-tech">
              <span>Angular</span>
              <span>Angular Material</span>
              <span>Solana</span>
            </div>
          </div>
        </div>
        
        <div class="project-card animate">
          <div class="project-image">
            <img src="assets/images/ecommercempa.png" alt="Proyecto 4">
            <div class="project-overlay">
              <div class="project-links">
                <a href="https://drive.google.com/file/d/1MXMM1uhNDqCZW1piV28eZO4f1ueahZ-N/view" target="_blank" title="Ver Proyecto"><i class="fas fa-external-link-alt"></i></a>
                <a href="https://github.com/dasinb0/EcommerceMpa" target="_blank" title="Ver Código"><i class="fab fa-github"></i></a>
              </div>
            </div>
          </div>
          <div class="project-details">
            <h3>Ecommerce Nike</h3>
            <p>Visualización de productos y carrito de compras.</p>
            <div class="project-tech">
              <span>Html</span>
              <span>Css</span>
              <span>Javascript</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- <section class="testimonials-section section">
    <div class="container">
      <h2 class="section-title">Lo Que Dicen de Mí</h2>
      
      <div class="testimonials-container">
        <div class="testimonial-card animate">
          <div class="testimonial-content">
            <i class="fas fa-quote-left quote-icon"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor libero ut felis bibendum, at finibus metus tincidunt. Praesent fermentum neque at tellus ullamcorper.</p>
          </div>
          <div class="testimonial-info">
            <div class="testimonial-image">
              <img src="assets/images/testimonial1.jpg" alt="Nombre del Cliente">
            </div>
            <div class="testimonial-author">
              <h4>Juan Pérez</h4>
              <p>Gerente de Proyecto, Empresa ABC</p>
            </div>
          </div>
        </div>
        
        <div class="testimonial-card animate">
          <div class="testimonial-content">
            <i class="fas fa-quote-left quote-icon"></i>
            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec laoreet magna vel arcu lobortis, eget elementum magna facilisis.</p>
          </div>
          <div class="testimonial-info">
            <div class="testimonial-image">
              <img src="assets/images/testimonial2.jpg" alt="Nombre del Cliente">
            </div>
            <div class="testimonial-author">
              <h4>María García</h4>
              <p>CEO, Startup XYZ</p>
            </div>
          </div>
        </div>
        
        <div class="testimonial-card animate">
          <div class="testimonial-content">
            <i class="fas fa-quote-left quote-icon"></i>
            <p>Curabitur accumsan felis vel magna tincidunt, id tempus libero pulvinar. Sed et magna nec lectus blandit finibus vel sit amet dolor.</p>
          </div>
          <div class="testimonial-info">
            <div class="testimonial-image">
              <img src="assets/images/testimonial3.jpg" alt="Nombre del Cliente">
            </div>
            <div class="testimonial-author">
              <h4>Carlos Rodríguez</h4>
              <p>Director de Tecnología, Empresa DEF</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->